In [60]:
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date
import pandas as pd
import numpy as np

In [61]:
Base = declarative_base()
measurements = pd.read_csv('Resources/cleaned_hawaii_measurements.csv')
stations = pd.read_csv('Resources/cleaned_hawaii_stations.csv')
print(measurements)

          id      station        date  prcp  tobs
0          0  USC00519397  2010-01-01  0.08    65
1          1  USC00519397  2010-01-02  0.00    63
2          2  USC00519397  2010-01-03  0.00    74
3          3  USC00519397  2010-01-04  0.00    76
4          4  USC00519397  2010-01-06  0.00    73
5          5  USC00519397  2010-01-07  0.06    70
6          6  USC00519397  2010-01-08  0.00    64
7          7  USC00519397  2010-01-09  0.00    68
8          8  USC00519397  2010-01-10  0.00    73
9          9  USC00519397  2010-01-11  0.01    64
10        10  USC00519397  2010-01-12  0.00    61
11        11  USC00519397  2010-01-14  0.00    66
12        12  USC00519397  2010-01-15  0.00    65
13        13  USC00519397  2010-01-16  0.00    68
14        14  USC00519397  2010-01-17  0.00    64
15        15  USC00519397  2010-01-18  0.00    72
16        16  USC00519397  2010-01-19  0.00    66
17        17  USC00519397  2010-01-20  0.00    66
18        18  USC00519397  2010-01-21  0.00    69
19        19  USC00519397  2010-01-22  0.00    67
20        20  USC00519397  2010-01-23  0.00    67
21        21  USC00519397  2010-01-24  0.01    71
22        22  USC00519397  2010-01-25  0.00    67
23        23  USC00519397  2010-01-26  0.04    76
24        24  USC00519397  2010-01-27  0.12    68
25        25  USC00519397  2010-01-28  0.00    72
26        26  USC00519397  2010-01-30  0.00    70
27        27  USC00519397  2010-01-31  0.03    67
28        28  USC00519397  2010-02-01  0.01    66
29        29  USC00519397  2010-02-03  0.00    67
...      ...          ...         ...   ...   ...
19520  19520  USC00516128  2017-07-24  0.84    77
19521  19521  USC00516128  2017-07-25  0.30    79
19522  19522  USC00516128  2017-07-26  0.30    73
19523  19523  USC00516128  2017-07-27  0.00    75
19524  19524  USC00516128  2017-07-28  0.40    73
19525  19525  USC00516128  2017-07-29  0.30    77
19526  19526  USC00516128  2017-07-30  0.30    79
19527  19527  USC00516128  2017-07-31  0.00    74
19528  19528  USC00516128  2017-08-01  0.00    72
19529  19529  USC00516128  2017-08-02  0.25    80
19530  19530  USC00516128  2017-08-03  0.06    76
19531  19531  USC00516128  2017-08-05  0.00    77
19532  19532  USC00516128  2017-08-06  0.00    79
19533  19533  USC00516128  2017-08-07  0.05    78
19534  19534  USC00516128  2017-08-08  0.34    74
19535  19535  USC00516128  2017-08-09  0.15    71
19536  19536  USC00516128  2017-08-10  0.07    75
19537  19537  USC00516128  2017-08-11  0.00    72
19538  19538  USC00516128  2017-08-12  0.14    74
19539  19539  USC00516128  2017-08-13  0.00    80
19540  19540  USC00516128  2017-08-14  0.22    79
19541  19541  USC00516128  2017-08-15  0.42    70
19542  19542  USC00516128  2017-08-16  0.42    71
19543  19543  USC00516128  2017-08-17  0.13    72
19544  19544  USC00516128  2017-08-18  0.00    76
19545  19545  USC00516128  2017-08-19  0.09    71
19546  19546  USC00516128  2017-08-20  0.00    78
19547  19547  USC00516128  2017-08-21  0.56    76
19548  19548  USC00516128  2017-08-22  0.50    76
19549  19549  USC00516128  2017-08-23  0.45    76

[19550 rows x 5 columns]

In [62]:
engine = create_engine('sqlite:///Resources/database.sqlite')

In [63]:
class Measurement(Base):
   __tablename__ = 'measurements'
   id = Column(Integer, primary_key=True)
   station = Column(String)
   date = Column(Date)
   prcp = Column(Float)
   tobs = Column(Integer)

class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [64]:
Base.metadata.create_all(engine)

In [65]:
measurements.to_sql(name = 'measurements', con = engine, if_exists = 'append', index = False)
stations.to_sql(name = 'stations', con = engine, if_exists = 'append', index = False)